/.idea
/.monaca/*
!/.monaca/project_info.json
/.vscode
/_dev
/_ignored
/build
/cordova
/coverage
/dev
/node_modules
/platforms
/typings
/www
*.code-workspace
*.swp
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
env.js
npm-debug.log*
